/* Estilos generales */
body {
  font-family: 'Arial', sans-serif;
  background-color: #f4f4f4;
  color: #333;
  margin: 0;
  padding: 0;
}

/* Navbar */
.navbar {
  background-color: #0361AE;
  color: white;
  padding: 10px 20px;
}

.navbar .navbar-brand {
  font-size: 1.5rem;
  font-weight: bold;
  color: #ffffff;
}

.navbar .nav-link {
  color: #ffffff;
}

.navbar .nav-link:hover {
  color: #FED000;
}

/* Footer */
footer {
  background-color: #0361AE;
  color: white;
  text-align: center;
  padding: 15px 0;
  position: fixed;
  width: 100%;
  bottom: 0;
}

footer p {
  margin: 0;
}

/* Tarjetas de Producto */
.card {
  background-color: #fff;
  border-radius: 10px;
  overflow: hidden;
  transition: transform 0.3s;
}

.card:hover {
  transform: scale(1.05);
}

.card img {
  max-width: 100%;
  height: auto;
}

.card-body {
  padding: 15px;
  text-align: center;
}

/* Control de cantidad */
input[type="number"] {
  width: 100%;
  padding: 5px;
  text-align: center;
  border: 1px solid #ddd;
  border-radius: 5px;
  margin-bottom: 10px;
}

input[type="number"]:focus {
  outline: none;
  border-color: #0361AE;
}

/* Botones de carrito */
.cart-item button {
  margin-top: 10px;
}

.btn-primary {
  background-color: #0361AE;
  border-color: #0361AE;
}

.btn-primary:hover {
  background-color: #024b8e;
}
